In [2]:
# Initial Imports
import os
import glob
import pandas as pd
import numpy as np
from pathlib import Path
%matplotlib inline

# Import and Format CSV data

* This part of the file imports and formats all of the uncleaned CSV files contained in the Raw_CSV directory
* Python [Glob](https://docs.python.org/3/library/glob.html) library was used to find all CSV pathnames
* We should be able to do all analysis using this file and the dictionary of DataFrames

### Dictionary Format
* Keys are the three letter ticker symbol with a .csv extension 
* Values are the dataframe 

### Examples
* Dictionary Key Example: 'BTC.csv'
* Display BTC.csv dataframe example ```file_dict['BTC.csv'].head()```

In [2]:
# Format the reading of all files in raw_csv folder
path = 'raw_csv/'
extension = 'csv'
os.chdir(path)
files = glob.glob('*.{}'.format(extension))

In [3]:
# Read all csv files as a DataFrame and add them to file_dict
file_dict = {}

# Loop to read each CSV, format as DataFrame, and add to file_dict
for file in files:
  key = file
  df = pd.read_csv(file, header=1, infer_datetime_format=True, parse_dates=True).set_index('date') 
  
  file_dict[key] = df

    
#Old Attempts at formatting the Dataframe from CSV 
    #df = pd.read_csv(file, index=date, header=1).set_index('date')
    #usecols = ['date', 'open', 'high', 'low', 'close' 'Volume USD']
    
    # Set time column to date time
    # df['date'] = pd.to_datetime(df['date'])
    
    # Set time column to index
    # df = df.set_index('date')

In [4]:
# This loop runs without error but doesnt do what it's supposed to

# Loop through dataframes in dictionary to include only select columns
for df in file_dict.values():
    df = df[['open', 'high', 'low', 'close', 'Volume USD']]

In [5]:
# Display first five and last five rows of BTC.csv dataframe
file_dict['BTC.csv']

,unix,symbol,open,high,low,close,Volume USD,Volume BTC
date,,,,,,,,
2022-08-04 00:00:00,1659571200000,BTC/USD,22813.213072,23006.000000,22792.00,22969.000000,1.247936e+06,54.331300
2022-08-03 00:00:00,1659484800000,BTC/USD,22982.000000,23634.097482,22680.00,22813.873707,1.083055e+08,4747.351281
2022-08-02 00:00:00,1659398400000,BTC/USD,23256.000000,23466.000000,22676.00,22986.000000,9.698831e+07,4219.451219
2022-08-01 00:00:00,1659312000000,BTC/USD,23291.000000,23499.338920,22879.00,23256.431307,1.297409e+08,5578.709695
2022-07-31 00:00:00,1659225600000,BTC/USD,23640.267907,24211.000000,23233.00,23294.000000,7.329680e+07,3146.595788
...,...,...,...,...,...,...,...,...
2015-02-13 00:00:00,1423785600,BTC/USD,222.390000,241.760000,221.46,236.000000,6.806973e+06,29079.110000
2015-02-12 00:00:00,1423699200,BTC/USD,219.190000,223.200000,217.87,222.600000,2.468883e+06,11190.650000
2015-02-11 00:00:00,1423612800,BTC/USD,220.960000,224.400000,218.10,219.190000,4.268987e+06,19289.280000
2015-02-10 00:00:00,1423526400,BTC/USD,220.610000,223.880000,214.00,220.960000,6.402351e+06,29268.950000
2015-02-09 00:00:00,1423440000,BTC/USD,224.220000,225.000000,215.40,220.610000,6.493501e+06,29625.030000

In [6]:
# Display BTC.csv dataframe data types
file_dict['BTC.csv'].dtypes

unix            int64
symbol         object
open          float64
high          float64
low           float64
close         float64
Volume USD    float64
Volume BTC    float64
dtype: object

In [6]:
# Create BTC 10-day trading average and 20-day trading average dataframe
# Create BTC DataFrame
BTC_path = Path("../Crypto_Quant_Trading/Raw_CSV/BTC.csv")
BTC_df = pd.read_csv(BTC_path,
                    parse_dates=['date'],
                    index_col="date"
)

#Print BTC_df
BTC_df

,unix,symbol,open,high,low,close,Volume USD,Volume BTC
date,,,,,,,,
2022-08-04,1.659570e+12,BTC/USD,22813.21307,23006.00000,22792.00,22969.00000,1.247936e+06,54.331300
2022-08-03,1.659480e+12,BTC/USD,22982.00000,23634.09748,22680.00,22813.87371,1.083055e+08,4747.351281
2022-08-02,1.659400e+12,BTC/USD,23256.00000,23466.00000,22676.00,22986.00000,9.698831e+07,4219.451219
2022-08-01,1.659310e+12,BTC/USD,23291.00000,23499.33892,22879.00,23256.43131,1.297409e+08,5578.709695
2022-07-31,1.659230e+12,BTC/USD,23640.26791,24211.00000,23233.00,23294.00000,7.329680e+07,3146.595788
...,...,...,...,...,...,...,...,...
2015-02-13,1.423786e+09,BTC/USD,222.39000,241.76000,221.46,236.00000,6.806973e+06,29079.110000
2015-02-12,1.423699e+09,BTC/USD,219.19000,223.20000,217.87,222.60000,2.468883e+06,11190.650000
2015-02-11,1.423613e+09,BTC/USD,220.96000,224.40000,218.10,219.19000,4.268987e+06,19289.280000
2015-02-10,1.423526e+09,BTC/USD,220.61000,223.88000,214.00,220.96000,6.402351e+06,29268.950000
2015-02-09,1.423440e+09,BTC/USD,224.22000,225.00000,215.40,220.61000,6.493501e+06,29625.030000

In [9]:
# Prepare for the analysis by converting the df for BTC prices to daily returns
daily_return = BTC_df['close'].pct_change()
movin_ave_df = BTC_df[['close']].copy()
movin_ave_df.insert(1, 'daily return', daily_return)
movin_ave_df = movin_ave_df.dropna()

# Insert '10day rolling average' and '20day rolling average'into movin_ave_df
# Print movin_ave_df
rolling_10_day = movin_ave_df['daily return'].rolling(window=10).mean()
rolling_20_day = movin_ave_df['daily return'].rolling(window=20).mean()
movin_ave_df.insert(2, '10day rolling average', rolling_10_day)
movin_ave_df.insert(3, '20day rolling average', rolling_20_day)


movin_ave_df

,close,daily return,10day rolling average,20day rolling average
date,,,,
2022-08-03,22813.87371,-0.006754,NaN,NaN
2022-08-02,22986.00000,0.007545,NaN,NaN
2022-08-01,23256.43131,0.011765,NaN,NaN
2022-07-31,23294.00000,0.001615,NaN,NaN
2022-07-30,23639.00000,0.014811,NaN,NaN
...,...,...,...,...
2015-02-13,236.00000,-0.085697,-0.000464,-0.007438
2015-02-12,222.60000,-0.056780,-0.004833,-0.009420
2015-02-11,219.19000,-0.015319,-0.009961,-0.011914
2015-02-10,220.96000,0.008075,-0.009329,-0.010238
2015-02-09,220.61000,-0.001584,-0.008009,-0.007628

In [10]:
# Filter and select the dates when 10day rolling average > 20day rolling average
# print first 5 rows of new dataframe
rolling10_greater_rolling20 = movin_ave_df[movin_ave_df["10day rolling average"] > 
                                           movin_ave_df["20day rolling average"]]


# Calculate cumulative returns for each window
cumulative_returns_10d = (1 + rolling10_greater_rolling20['10day rolling average']).cumprod() - 1
cumulative_returns_20d = (1 + rolling10_greater_rolling20['20day rolling average']).cumprod() - 1
rolling10_greater_rolling20.insert(3, '10day cumulative returns', cumulative_returns_10d)
rolling10_greater_rolling20.insert(5, '20day cumulative returns', cumulative_returns_20d)

rolling10_greater_rolling20

,close,daily return,10day rolling average,10day cumulative returns,20day rolling average,20day cumulative returns
date,,,,,,
2022-07-15,20820.00,-0.019035,-0.001650,-0.001650,-0.004413,-0.004413
2022-07-08,21590.00,0.000660,-0.003181,-0.004826,-0.004316,-0.008709
2022-07-07,21593.00,0.000139,0.004182,-0.000664,-0.002428,-0.011116
2022-07-04,20231.00,0.003074,-0.001247,-0.001910,-0.005033,-0.016094
2022-07-03,19308.00,-0.045623,-0.004177,-0.006079,-0.007021,-0.023002
...,...,...,...,...,...,...
2015-02-14,258.12,0.102417,0.008126,966.280775,-0.002310,-0.811875
2015-02-13,236.00,-0.085697,-0.000464,965.831582,-0.007438,-0.813274
2015-02-12,222.60,-0.056780,-0.004833,961.159323,-0.009420,-0.815033
2015-02-11,219.19,-0.015319,-0.009961,951.574886,-0.011914,-0.817237
2015-02-10,220.96,0.008075,-0.009329,942.688027,-0.010238,-0.819108